%div.container
  %section.about
    %h4
      When the Rockies score seven, we get tacos
  %section.colophon
    %p
      This website is built with
      %a{href: "http://www.sinatrarb.com/"} Sinatra.
      %br/
      The front-end is based off of
      %a{href: "http://getskeleton.com/"} Skeleton.
      %br/
      The font used is
      %a{href: "https://github.com/theleagueof/raleway"} Raleway
      by
      %a{href: "http://matt.cc/"} Matt McInerney.
      %br/
      The source code is
      %a{href: "https://github.com/sw3dish/dowegettacos.today"} here.
