!!! 5
%html
  %head
    %title Do We Get Tacos Today?
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/style.css'}
  %body
    %div.default-neat-grid
      =yield
    %footer.footer-2
      %div.footer-logo
        %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", alt: "Logo image"}
      %ul
        %li
          %a{href: "/"} Home
        %li
          %a{href: ""} Contact

      %div.footer-secondary-links
        %ul
          %li
            %a{href: "https://github.com/sw3dish/dowegettacos.today"} Github
          %li
            %a{href: "https://github.com/sw3dish/dowegettacos.today"} Colophon
