!!! 5
%html
  %head
    %title Do We Get Tacos Today?
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/skeleton.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/custom.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '//fonts.googleapis.com/css?family=Raleway:400,300,600'}
    %link{rel: 'icon', type: "image/x-icon", href: 'images/favicon.ico'}
  %body
    =yield
    %footer
      %hr.separator
      %section.navbar
        %ul.navbar-list
          %li.navbar-item
            %a.navbar-link{href: "/"} Home
          %li.navbar-item
            %a.navbar-link{href: "/about"} About
      %section.copyright
        %p.copyright-text Copyright © 2017 Colin Burr
