!!! 5
%html
  %head
    %title Do We Get Tacos Today?
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/skeleton.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/custom.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '//fonts.googleapis.com/css?family=Raleway:400,300,600'}
  %body
    =yield
